.detailsAnime
    background-image: url("./../../assets/img/test2.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    min-height: 100vh
    .content
        margin-top: 50px
        margin-inline: 100px
        padding: 10px
        background-color: white
        .infos
            display: flex
            gap: 20px
            .mainInfos
                width: 80%
                .titre
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .rating
                        font-weight: 100
                        display: flex
                        align-items: center
                        gap: 15px
                        svg
                            color: rgb(236, 204, 25)
                h3
                    margin-block: 20px
                    .genre
                        font-weight: 100
                ol
                    list-style: none
                    margin-block: 20px
                h2
                    // color: #9b56c3
                p
                    margin-block: 20px
            .imgContainer
                width: 20%
                img
                    width: 100%
        .trailer
            display: flex
            justify-content: center
            margin-top: 20px
            margin-bottom: 20px