.detailsAnime
    background-image: url("./../../assets/img/test2.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    min-height: 100vh
    .content
        margin-top: 50px
        margin-inline: 100px
        padding: 10px
        background-color: white
        .infos
            display: flex
            gap: 20px
            .mainInfos
                width: 80%
                .titre
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .rating
                        font-weight: 100
                        display: flex
                        align-items: center
                        gap: 15px
                        svg
                            color: rgb(236, 204, 25)
                h3
                    margin-block: 20px
                    .genre
                        font-weight: 100
                ol
                    list-style: none
                    margin-block: 20px
                p
                    margin-block: 20px
            .imgContainer
                width: 20%
                img
                    width: 100%
        .trailer
            display: flex
            justify-content: center
            margin-top: 20px
            margin-bottom: 20px
@media (max-width: 576px)
    .detailsAnime
        .content
            margin-inline: 10px
            margin-top: 10px
            .infos
                flex-direction: column-reverse
                justify-content: center
                align-items: center
                .mainInfos
                    width: 100%
                    h1
                        font-size: 1.5rem
                .imgContainer
                    width: 150px
@media (min-width: 576px) and (max-width: 768px)