@font-face 
    font-family: Jackpot
    src: url(./../../assets/fonts/Jackpot.ttf)
nav
    display: flex
    align-items: center
    justify-content: space-around
    border-bottom: solid 1px black
    color: white
    padding-block: 30px
    position: sticky
    width: 100%
    top: 0% 
    z-index: 1
    background-color: white
    flex-wrap: wrap
    .mainTitle
        a
            text-decoration: none
            color: black
            h1
                font-family: Jackpot 
    .links
        display: flex
        gap: 20px
        a
            text-decoration: none
            color: black
            font-size: 1.5rem
            padding-left: 5px
            transition: all 0.5s
            position: relative
            &:hover .test
                height: 100%
            .test
                height: 0%
                position: absolute
                width: 5px
                background-color: rgb(124, 124, 124)
                left: -5px
                transition: all 1s
        a.active
            color: rgb(124, 124, 124)
        a.active .test
            height: 100%
@media (max-width: 576px)
    nav
        gap: 20px
        padding-block: 10px
        .links
            padding-inline: 20px
            a
                font-size: 1rem