.topCharacters
    .content
        padding-inline: 20px
        .inputs
            display: flex
            padding-inline: 22%
            margin-top: 20px
            input
                border: solid 1px black
                outline: 0
                border-radius: 20px 
                padding-inline: 10px
                margin-inline: 10px
        .characters
            margin-top: 20px
            display: grid
            grid-template-columns: auto auto auto auto
            justify-content: center
            row-gap: 20px
            column-gap: 50px
            margin-bottom: 50px